---
import { Image } from "astro:assets";
import Calendar from "../../../public/assets/icons/calendarIcon.svg?raw"
import PaperCard from "./PaperCard.astro"

interface PapersInterface {
  src: string;
  title: string;
  resume: string;
  iconsvg: string;
  href?: string;
}

export const papers: PapersInterface[] = [
  {
    title: "Calendario",
    src: "https://firebasestorage.googleapis.com/v0/b/badminton-huesca.appspot.com/o/assets%2Fracketshadow.webp?alt=media&token=8cd17027-bbb4-4240-bf6a-e92da2580303",
    resume: "Aquí podrás encontrar información de los próximas competiciones, formulario a las inscripciones y cuadros.",
    iconsvg: "../../../public/assets/icons/calendarIcon.svg?raw",
    href: "/calendar"
  },
  {
    title: "Eventos",
    src: "https://firebasestorage.googleapis.com/v0/b/badminton-huesca.appspot.com/o/assets%2Fhistory.webp?alt=media&token=3b8c7557-a699-4c8a-84e4-65d428af4ff0",
    resume: "Aqui los eventos que tenemos en el club, que no son pocos!",
    iconsvg: "../../../public/assets/icons/eventsIcon.svg?raw"
  },
    {
    title: "Horarios",
    src: "https://firebasestorage.googleapis.com/v0/b/badminton-huesca.appspot.com/o/assets%2Fvolantes.webp?alt=media&token=f4ee6082-f5de-4aae-afa2-65ef6fb5bc81",
    resume: "Consulta los horarios de nuestros cursos e instalaciones.",
    iconsvg: "../../../public/assets/icons/clockIcon.svg?raw"
  },
      {
    title: "Galería de fotos",
    src: "https://firebasestorage.googleapis.com/v0/b/badminton-huesca.appspot.com/o/assets%2Fgallery.webp?alt=media&token=62fd5351-8d24-4f65-984d-bfe4d7ba16cf",
    resume: "Aquí encontraras fotos/videos de campeonatos en los que han participado nuestros jugadores.",
    iconsvg: "../../../public/assets/icons/galleryIcon.svg?raw"
  },
];
---

<div
  class="flex flex-row shadow-xl m-25 bg-white w-70 md:w-3/4 rounded-xl animate-slide-down"
>
{
    papers.map((paper) => (
        <PaperCard title={paper.title} src={paper.src} resume={paper.resume} iconsvg={paper.iconsvg} href= {paper.href}/>
    ))
}
</div>
<style>
  .animate-slide-down {
    animation-delay: 1s;
    animation: slide-down 2s; /* Duración, tipo, y retardo de la animación */
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
  }
</style>
