---
import { getAllGalleries, getAllImages, IGallery } from "../pages/api/images";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import { Image } from "astro:assets";

const pageTitle = "Galería de fotos";
export const prerender = true;

export async function getStaticPaths() {
  const galleries = await getAllGalleries();
  return galleries!.map((entry) => ({
    params: { slug: entry.gallery_shared_folder },
    props: { entry },
  }));
}

const galleries = await getAllGalleries();
---

<GlobalLayout pageTitle={pageTitle}>
  <div class="bg-slate-200">
    <div
      class="flex flex-col h-30 items-center justify-center bg-cover bg-center"
      style="background-image: url('/assets/aboutHeader.webp');"
    >
      <div class="flex-none">
        <div class="flex flex-col items-center justify-center h-36 md:h-96">
          <h1
            class="text-3xl md:text-5xl lg:text-6xl text-white font-sans font-extrabold text-center mb-4 z-10"
          >
            {pageTitle.toUpperCase()}
          </h1>
          <p class="text-lg text-white text-center z-10 font-sans"></p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-row justify-center items-center font-sans mt-2 md:mr-10 md:ml-10 mr-3 ml-3"
    >
      <div class="flex flex-row flex-wrap md:flex-nowrap md:w-2/3 w-full">
        {
          galleries?.map((element: IGallery) => (
            <a
              class="relative md:w-1/2 w-full h-64 m-2 animate-zoom cursor-pointer shadow-xl"
              href={`/gallery/${element.gallery_shared_folder}`}
            >
              <div class="absolute inset-0 rounded-xl overflow-hidden">
                <div class="bg-gradient-to-b from-transparent to-black w-full h-full absolute" />
                {/* Imagen */}
                <img
                  class="w-full h-full object-cover bg-no-repeat bg-cover z-10"
                  src={element.thumbnail}
                  alt={`Thumbnail ${element.thumbnail}`}
                />
              </div>

              <div class="absolute bottom-2 left-2">
                <h3 class="text-lg text-white font-bold overflow-hidden max-h-14 overflow-ellipsis max-w-xs">
                  {element?.name}
                </h3>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</GlobalLayout>
<style>
  .animate-zoom:hover {
    animation: animate-zoom 1s;
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
  }
</style>
