---
import { getCollection, type CollectionEntry } from "astro:content";
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import { Image } from "astro:assets";
import type { Page } from "astro";
import Pagination from "../../components/pagination/Pagination.astro";
const pageTitle = "Noticias";

type Props = {
  page: Page<CollectionEntry<"posts">>;
};

export async function getStaticPaths({ paginate }: any) {
  const blogEntries = await getCollection("posts");
  blogEntries.reverse();
  return paginate(blogEntries, { pageSize: 5 });
}

const { page } = Astro.props;
---

<GlobalLayout pageTitle={pageTitle}>
  <div class="bg-slate-200">
    <div
      class="flex flex-col h-30 items-center justify-center bg-cover bg-center"
      style="background-image: url('/assets/historyHeader.webp');"
    >
      <div class="flex-none">
        <div class="flex flex-col items-center justify-center h-36 md:h-96">
          <h1
            class="text-3xl md:text-5xl lg:text-6xl text-white font-sans font-extrabold text-center mb-4 z-10"
          >
            NOTICIAS
          </h1>
          <p class="text-lg text-white text-center z-10"></p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-row justify-center items-center font sans mt-12 md:mr-10 md:ml-10 mr-3 ml-3"
    >
      <div class="md:w-2/3 w-full">
        {
          page.data.map((post) => (
            <a href={`/posts/${post.slug}`}>
              <div class="flex md:flex-row flex-col py-4 mb-3 shadow-xl rounded-xl bg-slate-100 hover:cursor-pointer">
                <div class="flex md:w-1/3 overflow-visible py-2 items-center justify-center">
                  <img
                    alt="alt"
                    class="object-cover rounded-xl h-48"
                    src={post.data.coverImage}
                    width={270}
                    height={100}
                  />
                </div>
                <div class="pb-0 pt-2 px-4 flex-col items-start md:w-2/3 font-sans">
                  <small class="text-default-500 font-sans">
                    {post.data.date}
                  </small>
                  <h4 class="font-bold md:text-3xl font-sans">
                    {post.data.title}
                  </h4>
                  <p class="italic text-slate-500 mt-5 hidden md:block font-sans">
                    {post.data.resume}
                  </p>
                </div>
                <div class="absolute bottom-5 right-5 items-end justify-end invisible md:visible" />
              </div>
            </a>
          ))
        }
        <Pagination posts={page} />
      </div>
    </div>
  </div>
</GlobalLayout>
