---
import { getCollection, type CollectionEntry } from "astro:content";
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import { Image } from "astro:assets";
import type { Page } from "astro";
import Pagination from "../../components/pagination/Pagination.astro";
const pageTitle = "Noticias";

type Props = {
  page: Page<CollectionEntry<"posts">>;
};

export async function getStaticPaths({ paginate }: any) {
  const blogEntries = await getCollection("posts");
  blogEntries.reverse();
  return paginate(blogEntries, { pageSize: 5 });
}

const { page } = Astro.props;
---

<GlobalLayout pageTitle={pageTitle}>
  <div class="bg-slate-200">
    <div
      class="flex flex-col h-30 items-center justify-center bg-cover bg-center"
      style="background-image: url('/assets/historyHeader.webp');"
    >
      <div class="flex-none">
        <div class="flex flex-col items-center justify-center h-36 md:h-96">
          <h1
            class="text-3xl md:text-5xl lg:text-6xl text-white font-sans font-extrabold text-center mb-4 z-10"
          >
            NOTICIAS
          </h1>
          <p class="text-lg text-white text-center z-10"></p>
        </div>
      </div>
    </div>
    <div
      class="flex flex-row justify-center items-center font sans mt-12 md:mr-10 md:ml-10 mr-3 ml-3"
    >
      <div class="flex flex-wrap md:w-2/3 w-full">
        {
          page.data.map((post) => (
            <>
              <a
                class="relative md:w-full w-full h-64 m-2 animate-zoom cursor-pointer shadow-xl"
                href={`/posts/${post.slug}`}
              >
                <div class="absolute inset-0 rounded-xl overflow-hidden">
                  <div class="bg-gradient-to-b from-transparent to-black w-full h-full absolute" />
                  <img
                    class="w-full h-full object-cover bg-no-repeat bg-cover z-10"
                    src={post.data.coverImage}
                    alt={`Thumbnail ${post.data.coverImage}`}
                  />
                </div>

                <div class="absolute bottom-2 left-2">
                  <h3 class="text-lg text-white font-bold max-w-full md:text-3xl">
                    {post.data.title}
                  </h3>
                </div>
                <div class="absolute top-2 left-2">
                  <h3 class="text-s text-white font-bold overflow-hidden max-h-14 overflow-ellipsis max-w-xs">
                    {post?.data?.date}
                  </h3>
                </div>
              </a>
            </>
          ))
        }
        <Pagination posts={page} />
      </div>
    </div>
  </div>
  <style>
    .animate-zoom:hover {
      animation: animate-zoom 1s;
      animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
    }
  </style>
</GlobalLayout>
