---
import CbhButton from "../../components/cbhbutton/CbhButton.astro";
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import ButtonTable from "./ButtonTable.astro";
import {
  getAllTournaments,
  type Tournament,
} from "../../pages/api/tournaments/tournaments";

const pageTitle = "Calendario";

const data = await getAllTournaments();
---

<GlobalLayout pageTitle={pageTitle}>
  <div
    class="flex flex-col h-30 items-center justify-center bg-cover bg-center"
    style="background-image: url('/assets/aboutHeader.webp');"
  >
    <div class="flex-none">
      <div class="flex flex-col items-center justify-center h-36 md:h-96">
        <h1
          class="text-3xl md:text-5xl lg:text-6xl text-white font-sans font-extrabold text-center mb-4 z-10"
        >
          {pageTitle.toUpperCase()}
        </h1>
        <p class="text-lg text-white text-center z-10 font-sans"></p>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center w-full">
    <div class="container m-3 hidden md:block">
      <table
        class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5"
      >
        <thead class="text-white md:visible invisible">
          <tr
            class="bg-black flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0"
          >
            <th class="p-3 text-left">Fecha</th>
            <th class="p-3 text-left">Nombre</th>
            <th class="p-3 text-left"></th>
            <th class="p-3 text-left"></th>
          </tr>
        </thead>
        <tbody class="flex-1 sm:flex-none">
          {
            data.map((element: Tournament) => (
              <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0 hover:bg-gray-100">
                <td class="border-grey-light border p-3">{element.date}</td>
                <td class="border-grey-light border p-3 truncate">
                  {element.name}
                </td>
                <td class="border-grey-light border justify-center items-center">
                  <ButtonTable title="Inscripción" href={element.inscription} />
                </td>
                <td class="border-grey-light border">
                  <ButtonTable title="Cuadro" href={element.draw} />
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
    <div class="visile md:hidden w-full">
      {
        data.map((element: any) => (
          <div class="flex flex-col flex-no wrap mb-2 border border-gray-300 p-3 m-3 rounded-lg">
            <small class="pb-3">{element.date}</small>
            <h4 class=" text-lg pb-3 font-sans">{element.name}</h4>
            <ButtonTable title="Inscripción" href={element.inscription} />
            <ButtonTable title="Cuadro" href={element.draw} />
          </div>
        ))
      }
    </div>
  </div>
</GlobalLayout>
<style>
  html,
  body {
    height: 100%;
  }

  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
</style>
