---
import CbhButton from "../../components/cbhbutton/CbhButton.astro";
import GlobalLayout from "../../layouts/GlobalLayout.astro";
import ButtonTable from "./ButtonTable.astro";
import CalendarCard from "./CalendarCard.astro";
import {
  getAllTournaments,
  type Tournament,
} from "../../pages/api/tournaments/tournaments";

const pageTitle = "Calendario";

const data = await getAllTournaments();
---

<GlobalLayout pageTitle={pageTitle}>
  <div
    class="flex flex-col h-30 items-center justify-center bg-cover bg-center"
    style="background-image: url('/assets/aboutHeader.webp');"
  >
    <div class="flex-none">
      <div class="flex flex-col items-center justify-center h-36 md:h-96">
        <h1
          class="text-3xl md:text-5xl lg:text-6xl text-white font-sans font-extrabold text-center mb-4 z-10"
        >
          {pageTitle.toUpperCase()}
        </h1>
        <p class="text-lg text-white text-center z-10 font-sans"></p>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center w-full bg-slate-300">
    <div class="container hidden md:block">
      <table
        class="w-full flex flex-row flex-no-wrap sm:bg-white rounded-lg overflow-hidden sm:shadow-lg my-5"
      >
        <thead class="text-white md:visible invisible">
          <tr
            class="bg-black flex flex-col flex-no wrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0"
          >
            <th class="p-3 text-left">Fecha</th>
            <th class="p-3 text-left">Nombre</th>
            <th class="p-3 text-left">
              <div class="flex justify-center items-center">Sede</div>
            </th>
            <th class="p-3 text-left">
              <div class="flex justify-center items-center">Categoría</div>
            </th>
            <th class="p-3 text-left"></th>
            <th class="p-3 text-left"></th>
          </tr>
        </thead>
        <tbody class="flex-1 sm:flex-none">
          {
            data.map((element: Tournament) => (
              <tr class="flex flex-col sm:table-row mb-2 sm:mb-0 hover:bg-gray-100">
                <td class="p-3 w-32">{element.date}</td>
                <td class="p-3 truncate">{element.name}</td>
                <td class="p-3 truncate w-32">
                  <div class="flex justify-center items-center">
                    {element.location}
                  </div>
                </td>
                <td class="p-3 truncate w-32">
                  <div class="flex justify-center items-center">
                    {element.category}
                  </div>
                </td>
                <td class="">
                  <div class="flex justify-center items-center">
                    <ButtonTable
                      title="Inscripción"
                      href={element.inscription}
                    />
                  </div>
                </td>
                <td class="">
                  <div class="flex justify-center items-center">
                    <ButtonTable title="Cuadro" href={element.draw} />
                  </div>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
    <div
      class="container ml-7 w-full visile md:hidden justify-center items-center"
    >
      {data.map((element: Tournament) => <CalendarCard element={element} />)}
    </div>
  </div>
</GlobalLayout>
<style>
  html,
  body {
    height: 100%;
  }

  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
</style>
