---
import { collections } from "../../../content/config";
import Rank from "./Rank.astro";

const rankingDMDF = [
  {
    rank: "1",
    name: "Carlos Varea",
    nTournaments: "4",
    points001: "550",
    points002: "550",
    points003: "400",
    points004: "400",
    total: "1900",
    colour: "#4361ee",
  },
  {
    rank: "2",
    name: "Alberto Rodríguez",
    nTournaments: "4",
    points001: "468",
    points002: "385",
    points003: "340",
    points004: "340",
    total: "1533",
    colour: "#4361ee",
  },
  {
    rank: "3",
    name: "Alfredo Machín",
    nTournaments: "4",
    points001: "468",
    points002: "385",
    points003: "340",
    points004: "340",
    total: "1533",
    colour: "#4361ee",
  },
  {
    rank: "4",
    name: "Jose Carlos Ferrer",
    nTournaments: "3",
    points001: "550",
    points002: "550",
    points003: "400",
    points004: "0",
    total: "1500",
    colour: "#4361ee",
  },
  {
    rank: "5",
    name: "Arturo Bestué",
    nTournaments: "3",
    points001: "303",
    points002: "303",
    points003: "280",
    points004: "280",
    total: "1166",
    colour: "#4361ee",
  },
  {
    rank: "6",
    name: "Lorenzo Lairla",
    nTournaments: "4",
    points001: "303",
    points002: "303",
    points003: "280",
    points004: "280",
    total: "1166",
    colour: "#4361ee",
  },
  {
    rank: "7",
    name: "Eduardo Solano",
    nTournaments: "4",
    points001: "303",
    points002: "303",
    points003: "220",
    points004: "220",
    total: "1046",
    colour: "#4361ee",
  },
  {
    rank: "8",
    name: "Juan Luis Bueno",
    nTournaments: "3",
    points001: "385",
    points002: "303",
    points003: "0",
    points004: "280",
    total: "968",
    colour: "#4361ee",
  },
  {
    rank: "9",
    name: "Roberto Serrano",
    nTournaments: "3",
    points001: "385",
    points002: "303",
    points003: "0",
    points004: "280",
    total: "968",
    colour: "#4361ee",
  },
  {
    rank: "10",
    name: "Alberto Boné",
    nTournaments: "4",
    points001: "211",
    points002: "211",
    points003: "280",
    points004: "220",
    total: "922",
    colour: "#4361ee",
  },
  {
    rank: "11",
    name: "Javier Conde",
    nTournaments: "4",
    points001: "211",
    points002: "211",
    points003: "280",
    points004: "220",
    total: "922",
    colour: "#4361ee",
  },
  {
    rank: "12",
    name: "Francisco Gimenez",
    nTournaments: "3",
    points001: "303",
    points002: "303",
    points003: "0",
    points004: "220",
    total: "826",
    colour: "#4361ee",
  },

  {
    rank: "13",
    name: "Javier Abizanda",
    nTournaments: "2",
    points001: "385",
    points002: "385",
    points003: "0",
    points004: "0",
    total: "770",
    colour: "#4361ee",
  },
  {
    rank: "14",
    name: "Alejandro Peralta",
    nTournaments: "2",
    points: "385",
    points001: "385",
    points002: "385",
    points003: "0",
    points004: "220",
    total: "770",
    colour: "#4361ee",
  },
  {
    rank: "15",
    name: "Aitana Díez",
    nTournaments: "2",
    points001: "303",
    points002: "211",
    points003: "0",
    points004: "220",
    total: "734",
    colour: "#7209b7",
  },
  {
    rank: "16",
    name: "Mapi Gratal",
    nTournaments: "3",
    points001: "211",
    points002: "211",
    points003: "0",
    points004: "220",
    total: "642",
    colour: "#7209b7",
  },
  {
    rank: "17",
    name: "Juanjose Fondevila",
    nTournaments: "1",
    points001: "211",
    points002: "0",
    points003: "0",
    points004: "400",
    total: "611",
    colour: "#4361ee",
  },
  {
    rank: "18",
    name: "Paula Castro",
    nTournaments: "2",
    points001: "303",
    points002: "211",
    points003: "0",
    points004: "0",
    total: "514",
    colour: "#7209b7",
  },
  {
    rank: "19",
    name: "Gregorio Infante",
    nTournaments: "2",
    points001: "211",
    points002: "303",
    points003: "0",
    points004: "0",
    total: "514",
    colour: "#4361ee",
  },
  {
    rank: "20",
    name: "Roberto González",
    nTournaments: "1",
    points001: "0",
    points002: "468",
    points003: "0",
    points004: "0",
    total: "468",
    colour: "#4361ee",
  },
  {
    rank: "21",
    name: "David Salvadores",
    nTournaments: "1",
    points001: "0",
    points002: "468",
    points003: "0",
    points004: "0",
    total: "468",
    colour: "#4361ee",
  },
  {
    rank: "22",
    name: "Lucía Olivar",
    nTournaments: "2",
    points001: "211",
    points002: "0",
    points003: "220",
    points004: "0",
    total: "431",
    colour: "#7209b7",
  },
  {
    rank: "23",
    name: "Javier Blanco",
    nTournaments: "2",
    points001: "211",
    points002: "0",
    points003: "0",
    points004: "220",
    total: "431",
    colour: "#4361ee",
  },
  {
    rank: "24",
    name: "Enrique Gállego",
    nTournaments: "1",
    points001: "303",
    points002: "0",
    points003: "0",
    points004: "0",
    total: "303",
    colour: "#4361ee",
  },
  {
    rank: "25",
    name: "Ricardo Constante",
    nTournaments: "1",
    points001: "303",
    points002: "0",
    points003: "0",
    points004: "0",
    total: "303",
    colour: "#4361ee",
  },
  {
    rank: "26",
    name: "Diego Infante",
    nTournaments: "1",
    points001: "0",
    points002: "303",
    points003: "0",
    points004: "0",
    total: "303",
    colour: "#4361ee",
  },
  {
    rank: "27",
    name: "Ramón Guillén",
    nTournaments: "1",
    points001: "0",
    points002: "0",
    points003: "220",
    points004: "0",
    total: "220",
    colour: "#4361ee",
  },
  {
    rank: "28",
    name: "Paz Oliván",
    nTournaments: "1",
    points001: "0",
    points002: "0",
    points003: "220",
    points004: "0",
    total: "220",
    colour: "#7209b7",
  },
  {
    rank: "29",
    name: "Rubén Ferrer",
    nTournaments: "1",
    points001: "0",
    points002: "0",
    points003: "0",
    points004: "220",
    total: "220",
    colour: "#4361ee",
  },

  {
    rank: "30",
    name: "Rubén Ferrer",
    nTournaments: "1",
    points001: "211",
    points002: "0",
    points003: "0",
    points004: "0",
    total: "211",
    colour: "#4361ee",
  },

  {
    rank: "31",
    name: "Merche Audina",
    nTournaments: "1",
    points001: "0",
    points002: "211",
    points003: "0",
    points004: "0",
    total: "211",
    colour: "#7209b7",
  },
];

const rankingDMx = [
  {
    rank: "1",
    name: "Aitana Díez",
    nTournaments: "4",
    points001: "400",
    points002: "340",
    points003: "250",
    points004: "250",
    total: "1240",
    colour: "#3a0ca3",
  },
  {
    rank: "2",
    name: "Alfredo Machín",
    nTournaments: "4",
    points001: "400",
    points002: "340",
    points003: "250",
    points004: "250",
    total: "1240",
    colour: "#3a0ca3",
  },
  {
    rank: "3",
    name: "Carlos Varea",
    nTournaments: "3",
    points001: "340",
    points002: "400",
    points003: "0",
    points004: "213",
    total: "953",
    colour: "#3a0ca3",
  },
  {
    rank: "4",
    name: "Paula Castro",
    nTournaments: "2",
    points001: "340",
    points002: "400",
    points003: "0",
    points004: "0",
    total: "740",
    colour: "#3a0ca3",
  },
  {
    rank: "5",
    name: "Mapi Gratal",
    nTournaments: "3",
    points001: "280",
    points002: "280",
    points003: "0",
    points004: "175",
    total: "735",
    colour: "#3a0ca3",
  },
  {
    rank: "6",
    name: "Alberto Rodríguez",
    nTournaments: "3",
    points001: "280",
    points002: "280",
    points003: "0",
    points004: "175",
    total: "735",
    colour: "#3a0ca3",
  },
  {
    rank: "7",
    name: "Lucía Olivar",
    nTournaments: "2",
    points001: "280",
    points002: "0",
    points003: "175",
    points004: "0",
    total: "455",
    colour: "#3a0ca3",
  },
  {
    rank: "8",
    name: "Roberto Serrano",
    nTournaments: "1",
    points001: "280",
    points002: "0",
    points003: "0",
    points004: "0",
    total: "280",
    colour: "#3a0ca3",
  },
  {
    rank: "9",
    name: "Roberto González",
    nTournaments: "1",
    points001: "0",
    points002: "280",
    points003: "0",
    points004: "0",
    total: "280",
    colour: "#3a0ca3",
  },
  {
    rank: "10",
    name: "Mirian Cabellud",
    nTournaments: "1",
    points001: "0",
    points002: "280",
    points003: "0",
    points004: "0",
    total: "280",
    colour: "#3a0ca3",
  },
  {
    rank: "11",
    name: "Merche Udina",
    nTournaments: "1",
    points001: "0",
    points002: "220",
    points003: "0",
    points004: "0",
    total: "220",
    colour: "#3a0ca3",
  },
  {
    rank: "12",
    name: "Javier Abizanda",
    nTournaments: "1",
    points001: "0",
    points002: "220",
    points003: "0",
    points004: "0",
    total: "220",
    colour: "#3a0ca3",
  },
  {
    rank: "13",
    name: "Juanjose Fondevila",
    nTournaments: "1",
    points001: "0",
    points002: "0",
    points003: "213",
    points004: "0",
    total: "213",
    colour: "#3a0ca3",
  },
  {
    rank: "14",
    name: "Paz Oliván",
    nTournaments: "1",
    points001: "0",
    points002: "0",
    points003: "213",
    points004: "0",
    total: "213",
    colour: "#3a0ca3",
  },
  {
    rank: "15",
    name: "Ramón Guillén",
    nTournaments: "1",
    points001: "0",
    points002: "0",
    points003: "175",
    points004: "0",
    total: "175",
    colour: "#3a0ca3",
  },
  {
    rank: "16",
    name: "Raquel Allué",
    nTournaments: "1",
    points001: "0",
    points002: "0",
    points003: "0",
    points004: "175",
    total: "175",
    colour: "#3a0ca3",
  },
];
---

<div class="flex md:flex-row flex-col">
  <div class="flex flex-col md:w-1/2 w-full mt-5 md:mt-0">
    <p class="text-3xl font-sans">
      Ranking<strong class="text-5xl"> DM/DF</strong>
    </p>
    <table
      class="w-full font-sans border-spacing-2 border-separate animate-fade animate-once animate-duration-[2000ms]"
    >
      <thead
        class="bg-slate-200 rounded-xl font-sans text-lg"
        style="height: 50px"
      >
        <tr class="w-full">
          <th class="rounded-xl md:w-12 w-3"></th>
          <th class="md:p-2 p-0 rounded-xl md:w-64 w-full"></th>
          <th class="md:p-2 p-0 rounded-xl md:w-12 w-full">T</th>
          <th class="md:p-2 p-0 rounded-xl md:w-12 w-6">Puntos</th>
        </tr>
      </thead>
      <tbody>
        {
          rankingDMDF.map((element, index) => (
            <Rank
              pos={element.rank}
              name={element.name}
              tournaments={element.nTournaments}
              points={element.total}
              colour={element.colour}
            />
          ))
        }
      </tbody>
    </table>
  </div>
  <div class="flex flex-col md:w-1/2 w-full mt-5 md:mt-0">
    <p class="text-3xl font-sans">
      Ranking<strong class="text-5xl"> DMx</strong>
    </p>
    <table
      class="w-full font-sans border-spacing-2 border-separate animate-fade animate-once animate-duration-[2000ms] animate-delay-500"
    >
      <thead
        class="bg-slate-200 rounded-xl font-sans text-lg w-full"
        style="height: 50px"
      >
        <tr class="w-full">
          <th class="rounded-xl md:w-12 w-3"></th>
          <th class="md:p-2 p-0 rounded-xl md:w-64 w-full"></th>
          <th class="md:p-2 p-0 rounded-xl md:w-12 w-full">T</th>
          <th class="md:p-2 p-0 rounded-xl md:w-12 w-6">Puntos</th>
        </tr>
      </thead>
      <tbody>
        {
          rankingDMx.map((element, index) => (
            <Rank
              pos={element.rank}
              name={element.name}
              tournaments={element.nTournaments}
              points={element.total}
              colour={element.colour}
            />
          ))
        }
      </tbody>
    </table>
  </div>
</div>
